# Java
*.class

# DoxyGen and the Latex it produces
*LatexianTemp*
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex
*(busy)
*(Busy)
*.log
*.aux

# Intellij
.idea/
*.iml
*.iws
out/*
out
*.swp
